@page "/Contact/Edit/{Id:int}"

@using ZayirApp.Data;

@inject NavigationManager NavigationManager
@inject ContactService ContService

<div class="container">
    <fieldset>
        <legend>Edit Contact Information</legend>
        <EditForm Model="contact" OnValidSubmit="UpdateContact">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label for="firstname">First Name*</label>
                <InputText id="firstname" @bind-Value="contact.FirstName" class="form-control" />
            </div>

            <div class="form-group">
                <label for="lastname">Last Name*</label>
                <InputText id="lastname" @bind-Value="contact.LastName" class="form-control" />
            </div>

            <div class="form-group">
                <label for="email" class="control-label">Email: </label>
                <InputText type="email" id="email" @bind-Value="contact.Email" class="form-control" placeholder="sam@example.com" />
                <ValidationMessage For="@(() => contact.Email)" />
            </div>

            <div class="form-group">
                <label for="mobile">Mobile Number*</label>
                <InputText id="mobile" @bind-Value="contact.Mobile" class="form-control" />
            </div>


            <label class="mr-2">Language: </label>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="arabic" name="language" value="Arabic" @onchange="SelectLanguage" checked />
                <label class="form-check-label" for="arabic">
                    Arabic
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="english" name="language" value="English" @onchange="SelectLanguage" />
                <label class="form-check-label" for="english">
                    English
                </label>
            </div>
            <br />
            <label class="mr-2">Gender: </label>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="female" name="gender" value="Female" @onchange="SelectGender" checked />
                <label class="form-check-label" for="female">
                    Female
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="male" name="gender" value="Male" @onchange="SelectGender" />
                <label class="form-check-label" for="male">
                    Male
                </label>
            </div>

            <div class="form-group">
                <label for="contacttype">Contact Type:</label>
                <select @bind="contact.ContactType" id="contacttype" class="form-control">
                    <option value="">Select a type ...</option>
                    @foreach (var contactType in Enum.GetNames(typeof(ContactType)))
                    {
                        <option>@contactType</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="department">Department</label>
                <InputSelect @bind-Value="departmentId" id="department" class="form-control">
                    <option value="">Select a Department ...</option>
                    @foreach (var department in departments)
                    {
                        <option value="@department.DepartmentId">@department.Name</option>
                    }
                </InputSelect>
            </div>

            @*<div class="form-group col-md-2">
                    <label for="employeeId">Employee Id</label>
                    <InputNumber id="employeeId" @bind-Value="contact.EmployeeId" class="form-control" />
                </div>

                <div class="form-group col-md-2">
                    <label for="studentId">Student Id</label>
                    <InputNumber id="studentId" @bind-Value="contact.StudentId" class="form-control" />
                </div>*@

            <div class="form-group">
                <label for="phoneExtension">Phone Extension</label>
                <InputText id="phoneExtension" @bind-Value="contact.PhoneExtention" class="form-control" />
            </div>

            <div class="form-group">
                <label for="officeNumber">Office Number</label>
                <InputText id="officeNumber" @bind-Value="contact.OfficeNumber" class="form-control" />
            </div>

            <fieldset>
                <legend>Notification</legend>

                <div class="form-check">
                    <InputCheckbox id="ischeckedSms" @bind-Value="acceptSms" class="form-check-input" />
                    <label class="form-check-label" for="ischeckedSms">Accept SMS Notification</label>
                </div>

                <div class="form-check">
                    <InputCheckbox id="ischeckedEmail" @bind-Value="acceptEmail" class="form-check-input" />
                    <label class="form-check-label" for="ischeckedEmail">Accept Email Notification</label>
                </div>

                <div class="mt-2"></div>

            </fieldset>

            <div class="mt-2"></div>

            <button type="submit" class="btn btn-outline-primary">Edit Contact</button>
            <a href="Contact/List" class="btn btn-outline-secondary">Cancel</a>
            <br />
        </EditForm>
    </fieldset>
</div>


<p>@message</p>

@code {

    [Parameter]
    public int Id { get; set; }

    Contact contact = new Contact();

    private bool acceptSms = false;
    private bool acceptEmail = false;

    // Check why product.categoryId does not bind
    private string departmentId = String.Empty;

    private List<Department> departments = new List<Department>();

    protected override void OnInitialized()
    {
        contact = ContService.GetContact(Id);
    }

    // Used to handle customer gender using radio buttons
    Gender gender = Gender.Female;

    private void SelectGender(ChangeEventArgs args)
    {
        Enum.TryParse(args.Value.ToString(), out gender);
    }

    Language language = Language.Arabic;

    private void SelectLanguage(ChangeEventArgs args)
    {
        Enum.TryParse(args.Value.ToString(), out language);
    }

    string message;

    public void UpdateContact()
    {
        contact.Gender = (Gender?)gender;
        contact.Language = (Language?)language;

        contact.AcceptSMSNotification = acceptSms;
        contact.AcceptEmailNotification = acceptEmail;

        // Edit contact
        ContService.EditContact(contact);

        message = "Contact updated successfully";
        NavigationManager.NavigateTo("Contact/List");
    }
}