@page "/Visit/List"
@using ZayirApp.Data;
@using static ZayirApp.Data.Contact;
@using static ZayirApp.Data.Visitor;

@inject VisitorService Visitor1Service


@inject VisitService VisitService

<h1>Visits</h1>

<a href="Visit/Add">
    <span class="oi oi-plus"></span> &nbsp;
    Add Visit
</a>

<div class="mt-2"></div>

@if (visits == null)
{
    <div class="d-flex align-items-center">
        <strong>Loading data ...</strong>
        <div class="spinner-border ml-auto"></div>
    </div>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Visitor First Name</th>
                <th>Visitor Last Name</th>
                <th>Sign-in</th>
                <th>Sign-out</th>
                <th>Status</th>
                <th>Visit Type</th>
                <th>Contact</th>
                <th>Task</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in visits)
            {
                <tr>
                    @*Need to add include() in VisitService.GetVisits()*@
                    <td>@item.Visitor.FirstName</td>
                    <td>@item.Visitor.LastName</td>
                    <td>@item.SignInDateTime</td>
                    <td>@item.SignOutDateTime</td>
                    <td>@item.Status</td>
                    <td>@item.VisitType</td>
                    <td>@item.Contact.FirstName</td>

                    <a href="Visit/Details/@item.VisitId"><span class="oi oi-list"></span></a> &nbsp;
                    <a href="Visit/Edit/@item.VisitId"><span class="oi oi-pencil"></span></a>&nbsp;
                    <a href="Visit/Cancel/@item.VisitId"><span class="oi oi-trash"></span></a>
                </tr>
            }
        </tbody>
    </table>
}


@code {

    // Create a list of visits to be displayed in the component

    // Create a list of visitors to be displayed in the component
    List<Visit> visits = new List<Visit>();

    protected override void OnInitialized()
    {
        // Get the Visit from the service
        visits = VisitService.GetVisits();
    }
}