@page "/Dashboard"
@*@inject ProductService ProdService
    @inject CategoryService CatService*@

<h1>Visitors</h1>



<div class="mt-2"></div>

@if (visitors == null)
{
    <p>Loading data ...</p>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Mobile Number</th>
                <th>Official Document (ID)</th>
                <th>Email</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in visitors)
            {
                <tr>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td class="text-center">@item.Mobile</td>
                    <td class="text-center">@item.Document.DocumentNumber</td>
                    <td class="text-center">@item.Email</td>

                </tr>
            }
        </tbody>
    </table>
}

@code {

    // Create a list of visitors to be displayed in the component
    List<Visitor> visitors = new List<Visitor>();

    protected override void OnInitialized()
    {
        // Get the visitors from the service
        visitors = ProdService.GetVisitors();
    }
}

